<!DOCTYPE html>
<html lang="en">
<base href="/">
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="/stylesheet/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheet/css/now-ui-dashboard.css?v=1.1.0" rel="stylesheet" />
</head>
<% include ../partials/header %>

<body class="">
    <div class="wrapper ">
      <div class="sidebar" data-color="orange">

        <div class="sidebar-wrapper">
          <ul class="nav">
            <li>
              <a href="/bid/membertable">
                <i class="now-ui-icons location_map-big"></i>
                <p>Users</p>
              </a>
            </li>
            <li class="active ">
              <a href="/bid/dashboard">
                <i class="now-ui-icons users_single-02"></i>
                <p>Edit bids</p>
              </a>
            </li>
            <li>
              <a href="/bid/dashboard">
                <i class="now-ui-icons design_bullet-list-67"></i>
                <p>Table List</p>
              </a>
            </li>
            <li class=" ">
                <a href="/bid/importbid">
                  <i class="fa fa-file"></i>
                  <p>Import Bid</p>
                </a>
              </li>
              <li class="">
                  <a href="/bid/bidhistory">
                    <i class="now-ui-icons  location_map-big"></i>
                    <p>Import Bid</p>
                  </a>
                </li>
                <li class="">
                    <a href="/bid/graph">
                        <i class="now-ui-icons design_bullet-list-67"></i>
                        <p>Graph List</p>
                    </a>
                    </li>
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <div class="panel-header panel-header-sm">
        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="title">Edit <%= bids.highbidname %> Bid</h5>
                </div>
                <div class="card-body">
                  <form action="bid/editbid/<%= bids.id%>" method="post">
                    <div class="row">
                      <div class="col-md-6 pr-1">
                        <div class="form-group">
                          <label>Highbid name</label>
                          <input type="text" class="form-control" name="highbidname" placeholder="Username" value="<%= bids.highbidname %>">
                        </div>
                      </div>
                      <div class="col-md-6 pr-1">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Title</label>
                          <input type="text" class="form-control" name="title" placeholder="Title" value="<%= bids.title %>">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 pr-1">
                        <div class="form-group">
                          <label>Bid value</label>
                          <input type="number" class="form-control" name="highbid" placeholder="Company" value="<%= bids.highbid %>">
                        </div>
                      </div>
                       <div class="col-md-6 pr-1">
                          <div class="form-group">
                              <label>Discount bidders</label>
                              <input type="text" class="form-control" name="referral" placeholder="Refer a bidder!" value="">
                            </div>
                  
              
                                  </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Description</label>
                          <textarea rows="4" cols="80" class="form-control" name="desc" value="<%= bids.desc %>"><%= bids.desc %></textarea>
                        </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                              <label>Edit date</label>
                              <input class="sizefull s-text7 p-l-22 p-r-22"type="datetime-local" name="datetimer">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <label></label>
                        <button type="submit" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="card card-chart">
                <div class="card-header">
                  <h5 class="card-category">Image 1</h5>
                  <h4 class="card-title"><%= bids.imageName1 %><h4>

                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <img id="one" src="/images/bidimages/<%= bids.imageName1 %>"  style="width:100%; height:15vw; object-fit:cover;"alt="IMG-PRODUCT">
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card card-chart">
                <div class="card-header">
                  <h5 class="card-category">Image 2</h5>
                  <h4 class="card-title"><%= bids.imageName2 %></h4>
    
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <img id="one" src="/images/bidimages/<%= bids.imageName2 %>"  style="width:100%; height:15vw; object-fit:cover;"alt="IMG-PRODUCT">
                  </div>
                </div>
                   <div class="card-footer">
                  <div class="stats">
                    <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="card card-chart">
                <div class="card-header">
                  <h5 class="card-category">Image 3</h5>
                  <h4 class="card-title"><%= bids.imageName3 %></h4>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <img id="one" src="/images/bidimages/<%= bids.imageName3 %>"  style="width:100%; height:15vw; object-fit:cover;"alt="IMG-PRODUCT">
                  </div>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
    <% include ../partials/footer %>
  </body>

</html>