<!DOCTYPE html>
<html lang="en">
<base href="/">
<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="/stylesheet/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheet/css/now-ui-dashboard.css?v=1.1.0" rel="stylesheet" />
    
    <style>
    .selected {
      background-color:#001f3f;
    }
    </style>
</head>
<% include ../partials/header %>

<br>
<br>
<br>
<br>
<br>
<br>


<body class="">
    <div class="wrapper ">
            <div class="sidebar" data-color="orange">
  
                    <br>
                    <br>
                    <br>
                      <div class="sidebar-wrapper">
                        <ul class="nav">
              
                          <li>
                            <a href="/bid/membertable">
                              <i class="now-ui-icons location_map-big"></i>
                              <p>Users</p>
                            </a>
                          </li>
                          <li>
                            <a class="hmmhtml" href="/bid/dashboard">
                              <i class="now-ui-icons users_single-02"></i>
                              <p>Edit bids</p>
                            </a>
                          </li>
                          <li class="">
                            <a href="/bid/dashboard">
                              <i class="fa fa-file"></i>
                              <p>Table List</p>
                            </a>
                          </li>
                          <li class="active ">
                                <a href="/bid/importbid">
                                  <i class="fa fa-file"></i>
                                  <p>Import Bid</p>
                                </a>
                              </li>
                              <li class="">
                                  <a href="/bid/bidhistory">
                                    <i class="now-ui-icons  location_map-big"></i>
                                    <p>Bid History</p>
                                  </a>
                                </li>
                                <li class="">
                                    <a href="/bid/graph">
                                        <i class="now-ui-icons design_bullet-list-67"></i>
                                        <p>Graph List</p>
                                    </a>
                                    </li>
                        </ul>
                      </div>
                    </div>
      <div class="main-panel">
        <div class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">Import Bids from Listings</h4>
                </div>
                <div class="card-body">
                  <div class="">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Title
                        </th>
                        <th>
                          High Bid
                        </th>
                        <th>
                          Category
                        </th>
                        <th>
                            Description
                          </th>
                        <th class="text-right">
                          Submit Button
                        </th>

                      </thead>
                      <tbody>

                    
                            <% listingtable.forEach(function(listing){ %>
                            <form>
                        <tr class="mrsmiley" data-id="">
                            <td>
                                    <%= listing.itemDescription %>
                            </td>
                            <td>
                                    <%= listing.itemPrice %>
                          </td>
                            <td>
                                    <%= listing.itemType %>
                            </td>
                            <td>
                                    <%= listing.itemAdditionalDescription %>
                            </td>
                            <td class="text-right">
                                    <button class="btn btn-secondary pull-right hov1 flex-c-m bg4 bo-rad-23 trans-0-4 sendBtn " onclick="window.location='/bid/importbid/<%= listing.ListingID %>';"type="button" data-id="">Submit Bid</button>
                            </td>

                        </tr>
                    </form>
                
                    <% }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
  
      </div>
    </div>
    <% include ../partials/footer %>

  </body>
</html>