<!DOCTYPE html>
<html lang="en">

<head>
	<style>
		@media screen and (min-width:993px) {
			.firstelement {
				padding-top: 100px;
			}
		}
	</style>
</head>
<% include ../partials/header %>

	<body class="animsition">
		<section class="banner bg5 p-t-40 p-b-40">
			<div class="container">
				<div class="row">
					<h1 class="firstelement p-l-10">
						Listings
					</h1>
				</div>
				<hr>
				<div class="row">
					<% userlisting.forEach((userlisting) => { %>
						<div class="col-md-6 col-xs-12 p-t-25">
							<div class="card">
								<img src="images/listingImages/<%= userlisting.itemPicture %>" style="height:350px; width:100%; margin:0;" />
								<div class="card-body">
									<h4 class="p-l-10 m-b-20">Description : <br><%= userlisting.itemDescription %></h4>
									<h6 class="p-l-10">Item Type : <%= userlisting.itemType %></h6>
									<h6 class="p-l-10 p-b-10">Date Posted : <%= userlisting.itemListingDate %></h6>
									<a href="/modify_listing/modify/<%= userlisting.ListingID %>"><button class="btn btn-info" style="width:49%; left:0%">Modify</button></a>
									<a href="/modify_listing/delete/<%= userlisting.ListingID %>"><button class="btn btn-danger" style="width:49%; right:0%">Delete</button></a>
								</div>
							</div>
						</div>
					<% }); %>
				</div>
				




		</section>
		<!-- Back to top -->
		<div class="btn-back-to-top bg0-hov" id="myBtn">
			<span class="symbol-btn-back-to-top">
				<i class="fa fa-angle-double-up" aria-hidden="true"></i>
			</span>
		</div>

		<!-- Container Selection1 -->


		<% include ../partials/footer %>
	</body>


</html>